.main-header-box .title {
    font-size: 30px;
    font-weight: bolder;
}

#pc-hidden {
    display: none;
}

.login-box {
    width: 45%;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}